@font-face {
    font-family: 'Courier Prime';
    src: url('./CourierPrime-Regular.ttf') format('truetype');
}

:root {
    --text-colour: #f9f9f9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

.bg {
    background-image: url("steak.jpg");

    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    justify-content: center;
    justify-items: center;
    row-gap: 50px;
}

#header {
    grid-row: 1 / 2;
    align-self: end;
}

#content {
    font-family: 'Courier Prime';
    color: var(--text-colour);
    grid-row: 2 / 3;
    text-align: center;
}

#footer {
    color: #434242;
    grid-row: 3 / 4;
    align-self: end;
}

button {
    position: relative;
    color: var(--text-colour);
    font-family: 'Courier Prime';
    font-size: 1.2em;
    width: 150px;
    height: 50px;
    /* border-radius: 10px; */
    cursor: pointer;
    border: none;
    padding: 5px;
    margin: 0 5px;
    background: none;
}

button::after,
button::before {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

button::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: var(--text-colour);
    border-right-color: var(--text-colour);
}

button::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: var(--text-colour);
    border-left-color: var(--text-colour);
}

button:hover:after,
button:hover:before {
    width: 100%;
    height: 100%;
}